//variables
$small-content-height:440px;


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {  
    .small-content-box {
        min-height: auto;
    }
    .chart-inner-container {
        width: 75%;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .list-display li {
        font-size:1.1rem;
    }
    .small-content-box {
        min-height: auto;
    }
    .chart-inner-container {
        width: 75%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #debasement-bullets {
        margin-top: 4.5rem;
    } 
    .list-display li {
        font-size:1.2rem;
    }
    .small-content-box {
        min-height: $small-content-height *1.1;
    }
    .chart-inner-container {
        width: 90%;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #debasement-bullets {
        margin-top: 4rem;
    } 
    .list-display li {
        font-size:1.1rem;
    }
    .small-content-box {
        min-height: $small-content-height *1.1;
    }
}

@media (min-width: 1400px) {
    #debasement-bullets {
        margin-top: 2rem;
        margin-left: 0;
    }
    .list-display li {
        font-size:0.95rem;
    }
    .small-content-box {
        min-height: $small-content-height;
    }
}