//variables
$small-content-height:420px;
//Smallest
@media (max-width: 570px) {
    #mainbox-background {
        top: 11rem;
    }
    #money-gauge-container {
        width: 325px;
        height: 280px;
        margin: 5rem auto 0 auto;
    }
    #money-gauge {
        width: 150px !important;
        height: 150px !important;
        margin-top: 5rem;
    }
    #mainbox-footer {
        img {
            width: 26px;
            margin-left: 0 !important;
            margin-top: 2rem;
        }
    }

    #mainbox-content-box {
        height: 590px;
    }

    #money-supply-applet {
        margin-bottom: 3.5rem;
    }

    #inflation-vector-result-container {
        width: 30%;
        padding: 1rem;
        text-align: center;
    }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {  
    .small-content-box {
        min-height: auto;
    }
    .chart-inner-container {
        width: 75%;
    }
    #mainbox-background {
        top: 8rem;
    }
    #mainbox-footer {
        img {
            width: 25px;
            margin-left: 0 !important;
        }
    }

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .list-display li {
        font-size:1.1rem;
    }
    .small-content-box {
        min-height: auto;
    }
    .chart-inner-container {
        width: 75%;
    }
    #mainbox-background {
        top: 5rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #debasement-bullets {
        margin-top: 4.5rem;
    } 
    .list-display li {
        font-size:1.2rem;
    }
    .small-content-box {
        min-height: $small-content-height *1.15;
    }
    .chart-inner-container {
        width: 90%;
    }
    #mainbox-background {
        top: 1rem;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #debasement-bullets {
        margin-top: 3rem;
    } 
    .list-display li {
        font-size:1.1rem;
    }
    .small-content-box {
        min-height: $small-content-height *1.11;
    }
    #mainbox-background {
        top: 3rem;
    }
}

@media (min-width: 1400px) {
    #debasement-bullets {
        margin-top: 0.75rem;
        margin-left: 0;
    }
    .list-display li {
        font-size:0.95rem;
    }
    .small-content-box {
        min-height: $small-content-height;
    }
    #mainbox-background {
        top: 0;
    }
}