//variables
$small-content-height:450px;


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {  
    .small-content-box {
        min-height: auto;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .list-display li {
        font-size:1.1rem;
    }
    .small-content-box {
        min-height: auto;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .list-display li {
        font-size:1.2rem;
    }
    .small-content-box {
        min-height: $small-content-height;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
    .small-content-box {
        min-height: $small-content-height;
    }
}

@media (min-width: 1400px) {
    .list-display li {
        font-size:0.95rem;
    }
}