
.modal-body {
    text-align: center;
}

#inflation-vector-modal #theory-modal {
    text-align: left;
    color: rgba(white, 0.2);
}


.crypto-qr {
    width: 40%;
    .figure-img {
        width: 85%;
    }
}
