nav {
    
    font-weight: 200;
    img {
        width: 175px;
    }
    .nav-link {
        &.active {
            font-weight: 400;
            border-bottom: 0.2rem solid $secondary;
        }
        cursor: pointer;
    }
    .btn-secondary {
        font-size: 0.8rem;
        margin: 0.2rem 0rem;
        &:focus {
            box-shadow: none;
            background-color: $info;
        }
    }
    .dropdown-menu {
        cursor: pointer;
    }
    .card-footer {
        text-align: center;
    }
    .card-img-bottom {
        cursor: pointer;
    }

    #card-footer-line {
        width: 300px;
        border-bottom: 0.2rem solid $secondary;
    }

    #navbar-subtitle {
        span {
            font-style: italic;
        }
    }

}

.navbar {
    z-index: 1090;
}





