//Body variables
$font-family-sans-serif: "hero-new", Helvetica, sans-serif;
$body-bg: black;
$body-color: white;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.65;
$blockquote-font-size: $font-size-base *0.9;

$link-color: white;
$link-hover-color: rgba(white, 0.8);


//Colour definitions
$primary: #101426;
$secondary: #5075AB;
$info: #121A26;
$light: #092632;

//navbar
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$navbar-toggler-focus-width: 0;
$navbar-dark-toggler-border-color:  none;

//Main Button Variables
$btn-border-radius: 1rem;

//Dropdown Variables
$dropdown-bg: none;
$dropdown-min-width: auto;
$dropdown-dark-color: white;
$dropdown-dark-bg: $primary;
$dropdown-dark-link-hover-bg: rgba($secondary, .55);

//Popover
$popover-bg: $secondary;
$popover-font-size: $font-size-base * 0.75;

//Tooltip
$tooltip-bg: $secondary;
$tooltip-opacity: 1;

//Modal
$modal-content-bg: $primary;
$modal-content-color: rgba(white, 0.8);
$btn-close-color: white;

//Toasts
$toast-color:rgba(white, 0.7);
$toast-background-color: rgba($primary, 0.5);
$toast-header-color: rgba(white, 0.85);
$toast-header-background-color: rgba($primary, 0.8);

//Accordion
$accordion-color: rgba(white, 0.85);
$accordion-bg: $primary;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;



//Main setup
#main-container {
    margin-top: 6rem;
}
