$font-family-sans-serif: "hero-new", Helvetica, sans-serif;
$body-bg: black;
$body-color: white;

$primary: #101426;
$secondary: #5075AB;
$info: #121A26;

//Support Button
$btn-border-radius: 1rem;
$dropdown-bg: none;