//Body variables
$font-family-sans-serif: "hero-new", Helvetica, sans-serif;
$body-bg: black;
$body-color: white;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.65;
$blockquote-font-size: $font-size-base *0.9;

//Colour definitions
$primary: #101426;
$secondary: #5075AB;
$info: #121A26;
$light: #092632;

//navbar
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$navbar-dark-toggler-border-color:  none;

//Main Button Variables
$btn-border-radius: 1rem;

//Main Dropdown Variables
$dropdown-bg: none;

//Popover
$popover-bg: $secondary;
$popover-font-size: $font-size-base * 0.75;

//Tooltip
$tooltip-bg: $secondary;
$tooltip-opacity: 1;

//Modal
$modal-content-bg: $primary;
$btn-close-color: white;

//Main setup
#main-container {
    margin-top: 7rem;
}
